-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: qdata
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `att_audit_rule`
--

DROP TABLE IF EXISTS `att_audit_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `att_audit_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '规则ID',
  `name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '规则名称',
  `quality_dim` char(1) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '质量维度：1-完整性，2-唯一性，3-有效性，4-一致性，5-时效性',
  `type` char(1) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '规则类型;1：字符校验，2：数值校验，3：空值校验，4：长度校验，5：重复检查，6：格式检查',
  `level` char(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '规则级别;1：字段级，2：表级',
  `description` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '规则描述',
  `valid_flag` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '是否有效;0：无效，1：有效',
  `del_flag` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '删除标志;1：已删除，0：未删除',
  `create_by` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '创建人',
  `creator_id` bigint DEFAULT NULL COMMENT '创建人id',
  `create_time` datetime(6) DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '更新人',
  `updater_id` bigint DEFAULT NULL COMMENT '更新人id',
  `update_time` datetime(6) DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '备注',
  `code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT '规则编码',
  `use_case` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '使用场景',
  `example` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '示例',
  `icon_path` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '图标地址',
  `strategy_key` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='稽查规则表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `att_audit_rule`
--

LOCK TABLES `att_audit_rule` WRITE;
/*!40000 ALTER TABLE `att_audit_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `att_audit_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `att_clean_rule`
--

DROP TABLE IF EXISTS `att_clean_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `att_clean_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '规则ID',
  `name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '规则名称',
  `level` char(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '规则级别;1：字段级, 2：表级',
  `description` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '规则描述',
  `valid_flag` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '是否有效;0：无效，1：有效',
  `del_flag` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '删除标志;1：已删除，0：未删除',
  `create_by` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '创建人',
  `creator_id` bigint DEFAULT NULL COMMENT '创建人id',
  `create_time` datetime(6) DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '更新人',
  `updater_id` bigint DEFAULT NULL COMMENT '更新人id',
  `update_time` datetime(6) DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '备注',
  `example` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '示例',
  `type` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '清洗规则类目id',
  `use_case` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '使用场景',
  `strategy_key` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '策略标识',
  `code` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '规则编码',
  `cat_code` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='清洗规则表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `att_clean_rule`
--

LOCK TABLES `att_clean_rule` WRITE;
/*!40000 ALTER TABLE `att_clean_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `att_clean_rule` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-14 14:06:38
